*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    /*font-weight: 700;*/
    font-style: normal;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    background-image: url("IMG/pen-and-notebook-sits-on-a-table_2481124_wh860.png");
    background-size: cover;
}
.homeContainer{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}
.navBar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.logo h2{
    color: white;
}
.carnet{
    color: #007FFF;
}
.navBar h1{
    font-weight: 900;
}
.log a{
    padding: 0.5rem 2rem;
    background-color: #007FFF;
    color: white;
    text-decoration: none;
}
.description{
    height: 90vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description .text{
    text-align: center;
    color: white;
}
.description .text h1{
    font-size: 4rem;
    line-height: 5rem;
}
.description .text p{
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
}
.description .text p span{
    display: flex;
    align-items: center;
    color: #007FFF;
}
.description .text p i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #007FFF;
    border-radius: 50%;
    margin-left: 0.5rem;
   
}
/*===============LOGIN AND========================*/

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer h2{
    text-align: center;
    color:#007FFF ;
}
form{
    width: 100%;
    text-align: center;
    padding: 0rem 2rem;
  
}
.seConnecter{
    width: 100%;
    border: 0;
    outline: none;
    padding: 0.5rem 0rem;
    background-color: #007FFF;
    color: white;
}
.login input{
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
}
.pasDeCompte{
    padding: 0rem 2rem;
    text-align: center;
}
.creerCompte{
    color: rgb(209, 28, 28);
    cursor: pointer;
}

.error{
    color: red;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0;
}
#delete{
    color:red
}
#edit{
    color:green
}
/*===============ADMIN DASHBOARD========================*/

.admin .title{
    padding: 2rem 2rem;
    background-color: #007FFF;
    color: white;
}
.adminContainer{
    display: flex;
}
.userList{
    width: 60%;
    padding: 2rem 0rem 2rem 2rem;
}
table thead tr{
    width: 100%;
}
table thead tr th{
   padding: 0.8rem;
}
td{
    padding: 0.8rem;
   
}

.form{
    width: 40%;
    padding: 5rem;
}
.form input{
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding:1rem 0rem;
    outline: none;
    border: 0;
    border-bottom: 1px solid gray;
}
.adminButton{
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    outline:none;
    border: 0;
    background-color: #007FFF;
    color: white;
}



